<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Permanent Storage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F16B9BAC1D4D8D9F002249D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F16B9BC01D4D8D9F002249D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F16B9BCB1D4D8D9F002249D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
